body {
  font-family: 'Roboto';
  color: #43658b;
  text-align: center;
}

img {
  width: 200px;
  border-radius: 50%;
}

button {
  background-color: #ed6663;
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}